@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('imagens/medicos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(176, 224, 230);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #000; 
}

th {
  background-color: #22566c; 
  color: #fff; 
}

tr:hover {
  background-color: #f5f5f5;
}

form {
  display: inline;
}

.center{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 599px;
    height: auto;
    background: rgba(176,224,230);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    text-align: center;
    display: flex;
}

input[type="submit"] {
  background-color: #dd6262;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 0.7em;
}

input[type="submit"]:hover {
  background-color: #cd5c5c;
}

input.gerar_laudo[type="submit"] {
 	background-color: #22566c;
    
}

input[type="submit"].gerar_laudo:hover {
 	background-color: #1b475a;
}

.button-link-div {
	padding: 0.5em;
	display: flex;
    align-self: center;
}

#conteiner_principal{
	display: flex;
	flex-direction: column;
	align-items: center;
    gap: 0.5em;
    margin-top: 15em;
}

#conteiner_laudo {
	padding: 0.5em;
	display: flex;
    align-self: center;
}

a.button-link {
  width: auto;
  padding: 0 6em;
  display: inline-block;
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9; 
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: background 0.5s; 
}

a.button-link:hover {
  border-color: #2691d9; 
  color: #ffffff;
  transition: .5s;
}

